@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body{
  background-color: black;
  background-image:url(fondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

.main{
  width: 100vw;
  height: 99vh;
  background-color: rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  display: table-cell;
  vertical-align:middle;
}

.content{
  width:400px;
  height: 350px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Rancho', cursive;
  font-size: 20px;
}

#Photo{
  border-radius: 100%;
  border: 5px solid white;
}

.main h1{
  text-align: center;
}

.main img{
  vertical-align: middle;
  width: 200px;
}
